<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- In the <head> section or at the end of the <body> section -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

</head>

<body>
    <div class="container">
        <h2 class="mt-5">Register</h2>
        <form method="POST" action="" class="mt-3">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.nationality.label(class="form-label") }}
                {{ form.nationality(class="form-control nationality-select") }}  <!-- Added class for targeting -->
            </div>
            
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", size=32) }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>